In [1]:
import csv
import random
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
# Set the seed 
random.seed(42)

### 1. 수강편람 데이터 불러오기

In [3]:
# CSV = pd.DataFrame.from_csv("./os.csv", header=0) # 운영체제
CSV = pd.DataFrame.from_csv("./system.csv", header=0) # 시스템프로그래밍
CSV.head()

,year,spring,fall,academic_year,required,quota,enrollment,junior,double,second,all
year-semester,,,,,,,,,,,
2007-02-01,2007,0,1,2,0,90,78,49,0,0,280
2008-01-01,2008,1,0,2,0,60,31,51,0,0,297
2008-02-01,2008,0,1,2,0,60,48,51,0,0,280
2009-01-01,2009,1,0,2,0,60,26,46,5,5,297
2009-02-01,2009,0,1,2,0,60,55,46,0,0,280

### 2. 정규화(Normalization)

In [4]:
CSV = (CSV - CSV.mean()) / (CSV.max() - CSV.min())
CSV.head()

,year,spring,fall,academic_year,required,quota,enrollment,junior,double,second,all
year-semester,,,,,,,,,,,
2007-02-01,-0.510526,-0.526316,0.526316,-0.263158,-0.263158,0.5,0.660526,-0.326316,-0.261988,-0.242105,-0.202085
2008-01-01,-0.410526,0.473684,-0.473684,-0.263158,-0.263158,0.0,-0.122807,-0.126316,-0.261988,-0.242105,-0.041708
2008-02-01,-0.410526,-0.526316,0.526316,-0.263158,-0.263158,0.0,0.160526,-0.126316,-0.261988,-0.242105,-0.202085
2009-01-01,-0.310526,0.473684,-0.473684,-0.263158,-0.263158,0.0,-0.206140,-0.626316,-0.150877,-0.142105,-0.041708
2009-02-01,-0.310526,-0.526316,0.526316,-0.263158,-0.263158,0.0,0.277193,-0.626316,-0.261988,-0.242105,-0.202085

### 3. 선형회귀 데이터(column) 선택

In [5]:
feature_to_filter = ["required", "junior", "double", "second", "all"]

train_dataset = CSV[feature_to_filter].values.tolist()
train_target=CSV["enrollment"].values.tolist()

### 4. 선형회귀(Linear Regression)

In [6]:
model = LinearRegression()
model.fit(train_dataset, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### 5. 결과

In [7]:
result = pd.DataFrame(list(zip(feature_to_filter, model.coef_)), columns=["features", "coef"])
result.head(100)

   features      coef
0  required  0.758887
1    junior -0.124383
2    double  0.461754
3    second -0.889428
4       all -0.970979