In [1]:
import csv
import random
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
# Set the seed 
random.seed(42)

### 1. 수강편람 데이터 불러오기

In [3]:
CSV = pd.DataFrame.from_csv("./data.csv", header=0)
CSV.head()

,year,spring,fall,academic_year,required,quota,enrollment,junior,double,second,all
year-semester,,,,,,,,,,,
2007-01-01,2007,1,0,2,1,440,338,49,0,0,297
2007-01-01,2007,1,0,2,0,80,55,49,0,0,297
2007-01-01,2007,1,0,3,1,200,116,49,0,0,297
2007-01-01,2007,1,0,3,0,310,185,49,0,0,297
2007-01-01,2007,1,0,4,0,540,201,49,0,0,297

### 2. 정규화(Normalization)

In [4]:
CSV = (CSV - CSV.mean()) / (CSV.max() - CSV.min())
CSV.head()

,year,spring,fall,academic_year,required,quota,enrollment,junior,double,second,all
year-semester,,,,,,,,,,,
2007-01-01,-0.488393,0.5,-0.5,-0.223214,0.625,0.233249,0.220122,-0.288393,-0.242063,-0.223571,-0.035377
2007-01-01,-0.488393,0.5,-0.5,-0.223214,-0.375,-0.273793,-0.190023,-0.288393,-0.242063,-0.223571,-0.035377
2007-01-01,-0.488393,0.5,-0.5,0.110119,0.625,-0.104779,-0.101617,-0.288393,-0.242063,-0.223571,-0.035377
2007-01-01,-0.488393,0.5,-0.5,0.110119,-0.375,0.050151,-0.001617,-0.288393,-0.242063,-0.223571,-0.035377
2007-01-01,-0.488393,0.5,-0.5,0.443452,-0.375,0.374095,0.021571,-0.288393,-0.242063,-0.223571,-0.035377

### 3. 선형회귀 데이터(column) 선택

In [5]:
feature_to_filter = ["academic_year", "required", "junior", "double", "second", "all"]

train_dataset = CSV[feature_to_filter].values.tolist()
train_target=CSV["enrollment"].values.tolist()

### 4. 선형회귀(Linear Regression)

In [6]:
model = LinearRegression()
model.fit(train_dataset, train_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### 5. 결과

In [7]:
result = pd.DataFrame(list(zip(feature_to_filter, model.coef_)), columns=["features", "coef"])
result.head(100)

        features      coef
0  academic_year  0.075999
1       required  0.184148
2         junior  0.000729
3         double  0.396385
4         second -0.210330
5            all  0.067221